/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
    overflow: hidden;
}
.user-profile-settings-img a{
    width: 72px;    
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.user-profile-settings-img a img{
    border-radius: 50%;
}

.user-starr .fa-star{
    font-size: 16px;
    color: #dddddd;
}

.user-subs-info{
    font-size: 13px;
    margin-top: 10px;
}

.user-subs-countt{
    color: rgb(112, 146, 254);
    cursor: pointer;
}

.user-subs-countt:hover{
    text-decoration: underline;
}

.specific-settings-header h2{
    font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 40px;
    font-size: 20px;
}

.personal-informationn-settings{
    font-size: 14px;
    color: rgb(133, 133, 133);
}

.personal-informationn-settings-list{
    padding: 16px 0px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

.personal-informationn-settings .personal-informationn-settings-list:last-of-type{
    border: none;
}

.personal-informationn-left{
    width: 250px;
    white-space: nowrap
}

.page-settings-right-side{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px;
    padding: 24px 24px 8px 24px;
}


.personal-informationn-right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}

.personal-informationn-right-img{
    border: none;
    height: 24px;
    width: 24px;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.personal-informationn-right-img img{
    border-radius: 50%;
}

.change-info-buttons button{
    background: none;
    border: none;
    color: rgb(112, 146, 254);
}

.change-info-buttons button:hover{
    text-decoration: underline;
}

.settings-inputt input{
    width: 100%;
    padding: 3px 14px;
    height: 100%;
}

.settings-inputt{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.settings-double-inputt{
    width: calc((100% - 8px)/2);

}

.settings-double-inputt input{
    width: 100%;
    padding: 3px 14px;
        height: 40px;
    margin-bottom: 10px;
}

.save-btnn{
    background: rgb(112, 146, 254);
    color: white;
    margin: 0;
    width: calc((100% - 8px)/2);
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.save-btnn:hover{
    background: rgb(123, 154, 254) none repeat scroll 0% 0%;
    color: white;
}

.close-btnn{
    background-color: rgb(235, 235, 235);
    margin: 0;
    width: calc((100% - 8px)/2);
    margin-left: 8px;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.close-btnn:hover{
    background: rgb(237, 237, 237) none repeat scroll 0% 0%;
}

.right-side-settings{
    padding-left: 20px !important;
}

.right-side-settings .list-right-icon{
    display: none;
}

.sold-active-advertisements{
    font-size: 14px;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(64, 72, 79, 0.05);
    height: 40px;
}

.selected-header-advertisement{
    border-bottom: 2px solid rgb(112, 146, 254) !important;
    color: black !important;
}

.list-sold-active-advertisements{
    cursor: pointer;
}
.nav-tabs .nav-link.active{
    background:transparent !important;
    border:none;
}

.nav-tabs .nav-link.active:hover{
    background:transparent !important;
    border:none;
}

.nav-tabs .nav-link:hover {
    border:none;
}

.fade:not(.show) {
    opacity: 0;
    max-height: 0;
}

.purchases-sales-orders{
    font-size: 14px;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(64, 72, 79, 0.05);
    height: 40px;
}

.list-purchases-sales-orders{
    cursor: pointer;
}

.follow-button-product-owner button{
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-right: 0px;
    padding: 4px 16px;
    background: rgb(235, 235, 235);
    border-radius: 8px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(112, 146, 254);
    border: none;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    margin-top: 10px;
}

.follow-button-product-owner button:hover{
    background: rgb(237, 237, 237) none repeat scroll 0% 0%;
}

.personal-information-right-fields{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


@media only screen and (max-width: 991px){
    .right-side-settings{
        padding-left: 0px !important;
    }
    .page-settings-right-side{
        background-color: transparent;
        border-radius: 8px;
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 24px 0px 24px 0px;
    }
    .change-info-buttons{
        display: none;
    }
    .right-side-settings .list-right-icon{
        display: block;
    }
    .personal-informationn-right{
        -webkit-box-pack: end !important;
            -ms-flex-pack: end !important;
                justify-content: end !important;
    }
    .user-subs-info{
        -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
                justify-content: center !important;
    }
    .user-subs-countt{
        margin-right: 5px;
    }
    .list-sold-active-advertisements{
        width: calc(100%/2);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .list-purchases-sales-orders{
        width: calc(100%/2);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .personal-informationn-left{
        width: auto;
    }
    
    .personal-informationn-settings-list{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
}

@media only screen and (min-width: 576px){
    .modal-dialog{
        max-width: 400px;
    }
}